/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0; /* Asegúrate de que no haya margen en el body */
}

h1 {
  color: #4a4a4a;
  margin: 0; /* Elimina el margen del h1 */
}

.navbar {
  background-color: #6c757d;
  margin: 0; /* Asegúrate de que no haya margen en el navbar */
}

.navbar-brand, .nav-link {
  color: #fff !important;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
}

.card-title {
  color: #333;
}